
<div class="container margin-now" *ngIf="!logic">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <legend><h1>Hallo People</h1></legend>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque nulla, culpa quos laborum tenetur repellat in blanditiis accusamus vero natus fugiat deserunt iste, voluptatum possimus molestias dignissimos nisi id dolorum?</p>
    
    <div class="alert alert-info">
        <strong>Title!</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis velit pariatur. Assumenda nihil at quaerat quas nesciunt, sequi accusamus nisi facilis suscipit minus accusantium, fugit officia, in dolorem quo!
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <img src="../../assets/img/logo.png" alt="" class="img-responsive imgrezise">
    <form method="post" role="form" (submit)="login()">
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control input-lg" placeholder="username..." [(ngModel)] = "model.username" name="username">
      </div>
      <label></label>
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control input-lg" placeholder="password..." [(ngModel)] = "model.password" name="password">
      </div>
      <br>
      <legend><h1>Login</h1></legend>
      <p>Enjoy our featur after login</p>
      <br>
      <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-log-in"></span> Submit</button>
      <button type="button" class="btn btn-success" routerLink="/signup" (click)="clickHome()"><span class="glyphicon glyphicon-plus-sign"></span> SignUp</button>
      <button type="button" class="btn btn-warning" routerLink="/" (click)="clickHome()"><span class="glyphicon glyphicon-globe"></span> Back To Home</button>
    </div>
    </form>
    
  </div>
</div>
<div class="container" *ngIf="logic">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Login success</h1>
    <h1 class="text-center">Data: username : {{perLog}}</h1>
  </div>
</div>


