
<div class="container">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    
    <form method="post" role="form">
      <legend>Login?</legend>
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" id="" placeholder="username...">
      </div>
      <label></label>
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="text" class="form-control" id="" placeholder="password...">
        </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
    
  </div>
</div>

