<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default" role="navigation" *ngIf="!pathUrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/">RantauHouse.com</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar" [collapse]="!isCollapsed">
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a>Click Link</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<h1>{{pathUrl}}</h1>

<router-outlet>
  
</router-outlet>

