
<!-- pop up native -->

<div class="container-fluid popup">
  <div class="popup-is">
    <h1 class="text-center">Are you sure to Logout?</h1>
      <button type="button" class="btn btn-success" (click)="logout()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="closepop()">No</button>
    <p class="text-center">Lorem ipsum dolor sit amet</p>
  </div>
</div>


<div class="container-fluid">
  
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 sidedash">
      <div class="sidehead">
        <h1 class="text-center">Rantau House</h1>
      </div>
      <ul>
        <li id="actived"><i class="glyphicon glyphicon-bookmark"></i> Your Order
        <ul>
          <li>&#9679; new order</li>
          <li>&#9679; last order</li>

        </ul>
        </li>
        <li><i class="glyphicon glyphicon-envelope"></i> Mail</li>
        <li><i class="glyphicon glyphicon-home"></i> Back to home</li>
        <li><i class="glyphicon glyphicon-search"></i> Search list</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="hednav">
        <h1>home</h1>
        <h1>Dashboard</h1>
        <h1><a routerLink="/edit/{{id_user}}"><i class="glyphicon glyphicon-user"></i> {{varuser.name}}</a> </h1>
        <h1 (click)="changeSt()" class="cursor"><i class="glyphicon glyphicon-log-out"></i> Logout </h1>
        <!-- left line -->
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginon">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, vitae voluptates id at 
          perspiciatis magni, nemo quisquam odio eveniet consequatur quibusdam voluptas accusamus 
          obcaecati nam voluptatem. Nostrum doloribus quas temporibus?</p>
          <h1>404 Not Found</h1>
      </div>
      <!-- content manage -->
    </div>
    
  </div>
  
</div>

