/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import "assets/css/newstyle.scss";
.list-group{border-radius: 0 !important;}
.list-group-item{border-radius: 0 !important;}
.form-control{border-radius: 0 !important;}
.alert{border-radius: 0 !important;}
.input-group-addon{border-radius: 0 !important;}
.btn{border-radius: 0;transition: all.3s}
.btn-info{background-color: transparent;color: #5bc0de;}
.btn-warning{background-color: transparent;color: #eea236}
.btn-success{background-color: transparent;color: #4cae4c}
.btn-danger{background-color: transparent;color: #d43f3a}
